# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.sustech.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\Projects\sustech\.idea\.idea.sustech.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
